<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
            This tutorial has been put together by Ryan Williamson. <br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src='{{ MEDIA_URL }}cat.jpg'
                alt="Picture of a cat" />
			<img src='{% static "images/dog.jpg" %}'
				alt="Picture of a dog" />
        </div>
    </body>

</html>